#head1{
    background-color: black;
    color: white;
}

#head2{
    background-color: yellow;
    color: white;
}

#head3{
    background-color: orange;
    color: white;
}

.h01{
    background-color: green;
    color: white; 
}

.h02{
    background-color: blue;
    color: white; 
}

.h03{
    background-color: purple;
    color: white; 
}

h2{
    background-color: orange;

}

.box
{
    height: 100px;
    width: 100px;
    margin: 5px;
    border: solid 1px black;
    text-align: center;
    background-color: aquamarine;
}